#reading-now{
  display: -webkit-inline-box;
  padding: 0;
}

#total-read{
  display: -webkit-inline-box;
  padding: 0;
}

#footer{
  text-align: center;
}

#textarea-news-add{
  resize: none;
}

/* Стили для формы всплывающего окна подписки*/
  #subscribe-window{
    width: 400px;
    height: 400px;
    margin: 50px auto;
    display: none;
    background: #D0E37F;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
  }

  .close{
    margin-left: 364px;
    margin-top: 4px;
    cursor: pointer;
  }

  #subscribe-form{
    padding-top: 60px;
  }

  #subscribe-button{
    padding-top: 60px;
  }

/* Стили для формы Обратной связи*/

    #feedback-form {
    	margin-left: 34%;
        margin-top: 50px;
        margin-bottom: 120px;
    	max-width: 400px;
    	padding: 2%;
    	border-radius: 3px;
    	background: #f1f1f1;
    }

    .feedback_container > p {
    	font-size: 18px;
    	margin-top: 10px;
    	text-align: center;
    	font-family: SANS-SERIF;
    	color: #6d0000;
    }

    #feedback-form [required] {

      width: 100%;
      box-sizing: border-box;
      margin: 2px 0 2% 0;
      padding: 2%;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 3px;
      box-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 transparent;
    }
    #feedback-form [required]:hover {
      border-color: #7eb4ea;
      box-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 transparent;
    }
    #feedback-form [required]:focus {
      outline: none;
      border-color: #7eb4ea;
      box-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 4px rgba(35,146,243,.5);
      transition: .2s linear;
    }
    #feedback-form [type="submit"] {
      padding: 2%;
      border: none;
      border-radius: 3px;
      box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset;
      background: #669acc;
      color: #fff;
    }
    #feedback-form [type="submit"]:hover {
      background: #5c90c2;
    }
    #feedback-form [type="submit"]:focus {
      box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
    }

    #feedback_message {
    	font-family: 'Open Sans';
    	font-size: 15px;
    }
